body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f8f9fa;
}
.clock{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
.hours, .minutes, .seconds{
    height: 5rem;
    width: 5rem;
    border: 0.2rem solid rgba(188, 182, 182, 0.8);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
span {
    font-size: 2rem;
    font-weight: bold;
}